.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 56px;
  height: 28px;
  appearance: none;
  margin-right: 20px;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-f {
  left: 1px;
}

.switch__slider-c {
  left: 27px;
}

.switch__temp-f {
  position: absolute;
  top: -8px;
  left: 11px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.switch__temp-c {
  position: absolute;
  top: -8px;
  left: 37px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.switch__active {
  color: #fff;
}
