.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  padding: 0;
  overflow: hidden;
  border: none;
}

.modal__close_type_image {
  background: url(../../assets/white-closebtn.svg);
}

.modal__image {
  height: 498px;
  object-fit: contain;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 32px 12px;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
}

.modal__delete {
  color: #ff4d00;
  border: none;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;
}

.modal__weather {
  margin: 0 32px;
  font-size: 20px;
}
