.clothes-section {
  margin: 5px 0 0;
}

.clothes-section__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding: 19px 0 0;
}

.clothes-section__title {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-right: 20px;
}

.clothes-section__add-btn {
  border: none;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 85px;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
